{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} mw9 center" data-template="base.twig">
	{% if "home" in body_class %}
		<header class="header home">
	{% else %}
		<header class="header">
	{% endif %}

			{% block header %}

				<nav role="navigation" class="site-nav init-nav pa2 f6 border-box fixed z-max top-0 left-0 w-100 ph4-l">
					<div class="flex mw9 center items-center justify-center ttu tracked f7">
						<div class="dn flex-l w5 justify-start">
								<!-- <a class="mr3 dn dib-ns" href="/"><span class="icon icon--search">Search</span></a> -->
								<a class="mr3 dn flex-ns items-center justify-center" href="#footer"><span class="icon icon--email">Email Newsletter</span><span class="pt1 pl3">Sign Up</span></a>
						</div>
						<div class="flex dn-ns w5 justify-start">
								<a id="mobileNavToggle" class="mr3 items-center justify-center" href="#footer"><span class="pt1 pl3">Menu</span></a>
						</div>
						{% include "menu-left.twig" with {'menu': leftmenu.get_items} %}
					  <a class="flex justify-center" data-pjax href="{{site.url}}">
					    <span class="icon icon--logo">{{site.name}}</span>
					  </a>
						<div class="flex dn-ns w5 justify-end">
							<a class="mr2 pr1 flex items-center justify-center" href="#footer"><span class="pt1 pl2">Sign Up</span></a>
						</div>
						{% include "menu-right.twig" with {'menu': rightmenu.get_items} %}
						<div class="dn flex-l w5 justify-end">
							{% if options.facebook %}
								<a class="dn dib-ns" href="{{ options.facebook }}" title="Trouvaille on Facebook"><span class="icon icon--facebook">Facebook</span></a>
							{% endif %}
							{% if options.twitter %}
								<a class="ml3 dn dib-ns" href="{{ options.twitter }}" title="Trouvaille on Twitter"><span class="icon icon--twitter">Twitter</span></a>
							{% endif %}
							{% if options.instagram %}
								<a class="ml3 dn dib-ns" href="{{ options.instagram }}" title="Trouvaille on Instagram"><span class="icon icon--instagram">Instagram</span></a>
							{% endif %}
							{% if options.pinterest %}
								<a class="ml3 dn dib-ns" href="{{ options.pinterest }}" title="Trouvaille on Pinterest"><span class="icon icon--pinterest">Pinterest</span></a>
							{% endif %}
						</div>
					</div>
				</nav>
				<nav class="nav-mobile pa3 pt0 pb3 lh-copy border-box dn dn-ns fl w-100 bg-white nested-list-reset">
					<div class="">
						{% include "menu.twig" with {'menu': leftmenu.get_items} %}
						{% include "menu.twig" with {'menu': rightmenu.get_items} %}
					</div>
				</nav>
			{% endblock %}
		</header>


		<section id="content" role="main" class="content-wrapper">
			{% block title %}
				{% if title %}
					<h1 class="serif-display normal mv4-m mv5-l">{{title}}</h1>
				{% endif %}
			{% endblock %}
			<div class="wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>


		{% block footer %}
			<footer id="footer" class="footer">
				{% include 'footer.twig' %}
			</footer>

		{% endblock %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{{site.theme.link}}/scripts/min/plugins-min.js"></script>

		{{ function('wp_footer') }}

		<script type="text/javascript">
			$('.hero-featuredPostsCarousel').slick({
				nextArrow: '<svg class="slick-next" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><g fill="none" fill-rule="evenodd"><circle cx="32" cy="32" r="32" fill="#B4B4B4" fill-opacity=".2"/><path fill="#FFF" d="M26.3923 40.61082l1.83737 1.38056 8.92462-9.92462L28.0875 22 26 23.91247l8.1543 8.1543-7.762 8.54405z"/></g></svg>',
				prevArrow: '<svg class="slick-prev" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><g fill="none" fill-rule="evenodd" transform="rotate(-180 32 32)"><circle cx="32" cy="32" r="32" fill="#B4B4B4" fill-opacity=".2"/><path fill="#FFF" d="M26.3923 40.61082l1.83737 1.38056 8.92462-9.92462L28.0875 22 26 23.91247l8.1543 8.1543-7.762 8.54405z"/></g></svg>',
				speed: 750,
			});

			$('.slick').slick({
			});

			$('.product-carousel').slick({
				slidesToShow: 4,
				centerMode: true,
				centerPadding: '0px',
			});



			$('#mobileNavToggle').on('click touchstart', function(e) {
				e.preventDefault();
				$('.nav-mobile').toggleClass('db dn');
				$('body').toggleClass('nav-open');
			});
		</script>

	</body>

</html>
