{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper mw9 center">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<div class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<p class="blog-author">
					<a class="ttu f7 tracked black-50" href="{{post.category.link}}">{{ post.category }}</a>
					<!-- &ndash;	{{ post.post_date|date}} -->
				</p>
				<div class="article-body pa2">
					{% for section in post.get_field('post_content') %}
						{% if section.acf_fc_layout == 'hero_image' %}
							<section class="hero_image mb5 tc mb4 overflow-auto">
								<img class="w-100" src="{{ TimberImage(section.image).src }}" alt="{{ TimberImage(section.image).alt }}" title="{{ TimberImage(section.image).title }}">
								<p class="black o-50 f7 mv3">{{ TimberImage(section.image).caption }}</p>
							</section>
						{% elseif section.acf_fc_layout == 'text' %}
							<section class="text pa3 mb5 f4 fw3 measure-wide center">
								{{ section.content }}
							</section>
						{% elseif section.acf_fc_layout == 'gallery' %}
							<section class="gallery pa3 mb5">
								{% for image in section.images %}
										<div></div>
										<div class="dib nowrap mb2">
									    <img class="fl" src="{{ TimberImage(image).src }}" />
											{% if section.show_captions  %}
												<p>{{ TimberImage(image).caption }}</p>
											{% endif %}
										</div>
								{% endfor %}
							</section>
						{% elseif section.acf_fc_layout == 'blockquote' %}
							<section class="blockquote mb5">
								<blockquote class="fw1 f4 f3-m f2-l serif-display tc lh-title">
									{{ section.quote_text }}
								</blockquote>
								<p class="ttu f7 tracked black o-50 tc">{{ section.quote_author }}</p>
							</section>
						{% elseif section.acf_fc_layout == 'numbered_heading' %}
							<section class="numbered_heading ph3 mb5 black mw7 ph4-ns center">
								<h2>
									<span class="number">{{ section.number }} </span>
									<span class="text fw1 ttu sans-serif tracked">{{ section.heading }}</span>
								</h2>
							</section>
						{% elseif section.acf_fc_layout == 'spread_images' %}
							<section class="spread spread_images mb5 flex {% if section.flip %} flex-column-reverse flex-row-reverse-ns {% else %} flex-column flex-row-ns {% endif %} items-center justify-center">
								<div class="spread-column pa2 w-100 w-50-ns">
									<img src="{{ TimberImage(section.image1).src |resize(800, 1000)  }}" alt="{{ TimberImage(section.image1).alt  }}" title="{{ TimberImage(section.image1).title  }}">
									{% if section.show_captions %}
										<p class="f7 mt2 black-40">
											{{ TimberImage(section.image1).caption }}
										</p>
									{% endif %}
								</div>
								<div class="spread-column pa2 w-100 w-50-ns">
									<img src="{{ TimberImage(section.image2).src |resize(800, 1000)  }}" alt="{{ TimberImage(section.image2).alt  }}" title="{{ TimberImage(section.image2).title  }}">
									{% if section.show_captions %}
										<p class="f7 mt2 black-40">
											{{ TimberImage(section.image2).caption }}
										</p>
									{% endif %}
								</div>
							</section>
						{% elseif section.acf_fc_layout == 'spread_products' %}
							<section class="spread spread_products mb5 flex {% if section.flip %} flex-column-reverse flex-row-reverse-ns {% else %} flex-column flex-row-ns {% endif %} items-center justify-center">
								<div class="spread-column pa2 w-100 w-50-ns relative">
									{% if TimberImage(section.product1_image).src %}
										<img src="{{ TimberImage(section.product1_image).src | resize(800, 1000)  }}" alt="{{ TimberImage(section.product1_image).alt  }}" title="{{ TimberImage(section.product1_image).title  }}">
										<div class="tc">
											<p class="mv2 ttu f7 black o-50 tracked">{{ section.product1.brand }}</p>
											<h4 class="f4 ma0 fw1">{{ section.product1.title }}</h4>
										</div>
									{% else %}
										<img src="{{ TimberImage(section.product1.image).src | resize(800, 1000)  }}" alt="{{ TimberImage(section.product1.image).alt  }}" title="{{ TimberImage(section.product1.image).title  }}">
										<div class="tc">
											<p>{{ section.product1.brand }}</p>
											<h4 class="f4">{{ section.product1.title }}</h4>
										</div>
									{% endif %}
									<a href="{{ section.product1.url}}" class="absolute absolute--fill"></a>
								</div>
								<div class="spread-column pa2 w-100 w-50-ns relative">
									{% if TimberImage(section.product2_image).src %}
										<img src="{{ TimberImage(section.product2_image).src | resize(800, 1000)  }}" alt="{{ TimberImage(section.product2_image).alt  }}" title="{{ TimberImage(section.product2_image).title  }}">
										<div class="tc">
											<p class="mv2 ttu f7 black o-50 tracked">{{ section.product1.brand }}</p>
											<h4 class="f4 ma0 fw1">{{ section.product2.title }}</h4>
										</div>
									{% else %}
										<img src="{{ TimberImage(section.product2.image).src | resize(800, 1000) }}" alt="{{ TimberImage(section.product2_image).alt  }}" title="{{ TimberImage(section.product2_image).title  }}">
										<div class="tc">
											<p class="mv2 ttu f7 black o-50 tracked">{{ section.product1.brand }}</p>
											<h4 class="f4 ma0 fw1">{{ section.product2.title }}</h4>
										</div>
									{% endif %}
									<a href="{{ section.product2.url}}" class="absolute absolute--fill"></a>
								</div>
							</section>
						{% elseif section.acf_fc_layout == 'spread_textimage' %}
							<section class="spread mb5 spread_textimage flex {% if section.flip %} flex-column-reverse flex-row-reverse-ns {% else %} flex-column flex-row-ns {% endif %} items-center justify-center">
								<div class="spread-column w-100 pa3 pa4-l w-50-ns">
									<div class="black f4 fw1 measure-narrow center pa3">
										{{ section.text }}
									</div>
								</div>
								<div class="spread-column w-100 w-50-ns">
									<img class="fl" src="{{ TimberImage(section.image).src }}" alt="{{ TimberImage(section.image).alt }}" title="{{ TimberImage(section.image).title }}"/>
									{% if section.show_captions  %}
										<p>{{ TimberImage(section.image).caption }}</p>
									{% endif %}
								</div>
							</section>
						{% elseif section.acf_fc_layout == 'spread_imageproducts' %}
							<section class="spread spread_imageproducts mb5 flex {% if section.flip %} flex-column-reverse flex-row-reverse-ns {% else %} flex-column flex-row-ns {% endif %} items-center justify-center">
								<div class="spread-column w-100 w-60-ns">
									<img src="{{ TimberImage(section.image).src }}" alt="{{ TimberImage(section.image).alt }}" title="{{ TimberImage(section.image).title }}"/>
									{% if section.show_captions  %}
										<p>{{ TimberImage(section.image).caption }}</p>
									{% endif %}
								</div>
								<div class="spread-column w-100 w-40-ns justify-around flex flex-wrap pa4">
									{% for post in section.products %}
										<div class="product-thumb ba bw3 b--cream contain bg-center bg-white w-50 aspect-ratio aspect-ratio--6x4 flex items-center justify-center" style="background-image:url('{{ TimberImage(TimberPost(post.product).thumbnail).src  }}')">
											<h4 class="product-thumb-title absolute ma0 absolute--fill flex items-center justify-center">
												{{ TimberPost(post.product).title }}
											</h4>
											<a class="absolute absolute--fill z-2" href="{{ TimberPost(post.product).url }}"></a>
										</div>
									{% endfor %}
								</div>
							</section>
						{% elseif section.acf_fc_layout == 'spread_textproducts' %}
							<section class="spread spread_textproducts mb5 flex {% if section.flip %} flex-column-reverse flex-row-reverse-ns {% else %} flex-column flex-row-ns {% endif %} items-center justify-center">
								<div class="spread-column w-100 w-60-ns">
									<div class="measure center pa3">
										{{ section.text }}
									</div>
								</div>
								<div class="spread-column w-100 w-40-ns flex flex-wrap">
								{% for post in section.products %}
									<div class="product-thumb ba bw3 b--cream contain bg-center bg-white w-50 aspect-ratio aspect-ratio--6x4 flex items-center justify-center" style="background-image:url('{{ TimberImage(TimberPost(post.product).thumbnail).src  }}')">
										<h4 class="product-thumb-title absolute ma0 absolute--fill flex items-center justify-center">
											{{ TimberPost(post.product).title }}
										</h4>
										<a class="absolute absolute--fill z-2" href="{{ TimberPost(post.product).url }}"></a>
									</div>
								{% endfor %}
								</div>
							</section>
						{% endif %}
					{% endfor %}

				</div>
			</div>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
