{% extends "tease.twig" %}

{% block content %}
<div class="pa2">
	<div class="card-thumbnail">
		<img src="{{post.thumbnail.src | resize(600, 600) }}" />
		<a class="card-thumbnail-link" href="{{post.link}}"></a>
	</div>
	<div class="card-summary lh-title overflow-auto tc">
		<p class="sans-serif tracked black-50 f7 ttu mt2 mb0">
			{% for category in post.terms('category') %}
				{% if category != 'Fashion' and category != 'Lifestyle' and category != 'Interiors' %}
					{{ category }}
				{% endif %}
			{% endfor %}
			 | 
 			{% for category in post.terms('category') %}
 				{% if category == 'Fashion' or category == 'Lifestyle' or category == 'Interiors' %}
 					{{ category }}
 				{% endif %}
 			{% endfor %}
		</p>
		<h2 class="f4 f3-l mv2 fw1 h3 serif-display"><a href="{{post.link}}">{{post.title}}</a></h2>
	</div>
</div>
{% endblock %}
