{% extends "tease.twig" %}

{% block content %}
	<div class="card-thumbnail">
		{% if post.thumbnail.src %}
			<img src="{{post.thumbnail.src}}" />
			<a class="card-thumbnail-link" href="{{post.link}}"></a>
		{% elseif post.get_field('music') %}
			{{post.get_field('music')}}
		{% elseif post.get_field('video') %}
			{{post.get_field('video')}}
		{% elseif post.get_field('image_gallery') %}
			{% for image in post.get_field('image_gallery') %}
				{% if loop.first %}
					<img src="{{ TimberImage(image) }}" />
					<a class="card-thumbnail-link" href="{{post.link}}"></a>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	<div class="card-summary lh-title">
		<h2><a href="{{post.link}}">{{post.title}}</a></h2>
		<p>{{post.get_preview(25, false, false, true, "&hellip;")}}</p>
		<p class="post-date">{{ post.post_date|date }}</p>
	</div>

{% endblock %}
