<article style="background-image: url({{post.thumbnail.src}});" class="tease tease-{{post.post_type}} hero-featuredPostsCarousel-slide" id="tease-{{post.ID}}">
		<!-- <img src="{{post.thumbnail.src}}" /> -->
		<div class="hero-featuredPostsCarousel-slide-content">
			<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
			<p>{{post.get_preview}}</p>
		</div>
</article>
